.viewerBtn {
    margin: 0 3px;
    line-height: 1.4;
    background: #fdfdfd;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    min-width: 54px;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 4px;
}
